/*!
 * _switcher.sass - стили переключателя цветовых тем
 */

// Color
// $accent:                #0d6efd; // акцентный цвет для выделения primary
// $textcolor:             #6c757d; // основной цвет текста gray-600
// $darkcolor:             #212529; // основной темный цвет gray-900
// $lightcolor:            #fff;    // основной светлый цвет white

.switcher-dropdown {
  display: flex;
  align-items: center;
}

.icon {
  width: 1em;
  height: 1em;
}

@media (width > 1024px) {
  .icon {
    margin-bottom: 2px;
  }
}

.switcher-dropdown .btn-switcher {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: .375rem;
  border: 0;
  border-radius: .375rem;

  text-decoration: none;

  background-color: transparent;

  &::after {
    color: $textcolor;
  }
  svg {
    color: $textcolor;
  }
}

.switcher-dropdown .dropdown-menu {
  top: 100%;
  right: 0;
  left: auto;

  padding: .125rem;
  border-radius: .5rem;
}

.switcher-dropdown .dropdown-menu li + li {
  margin-top: .125rem;
}

.dropdown-item {
  border-radius: .375rem;
  color: $darkcolor;
  &:active {
    background-color: $accent;
  }
  &.active {
    font-weight: 700;
    color: $lightcolor;
    background-color: $accent;
    .icon {
      display: block !important;
    }
  }
}

.switcher-dropdown .dropdown-menu *:focus-visible {
  border-radius: 4px;
  outline: 4px solid rgba($accent, .5) !important;
  box-shadow: none !important;
}

[data-bs-theme="dark"] {
  .switcher-dropdown .dropdown-menu .dropdown-item {
    color: $lightcolor;
  }
}
