@charset "UTF-8";

:root {
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: hsl(210deg 75% 50%);
  --text-selection: #f1f1f1;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --button-base: #d0cfcf;
  --button-hover: hsl(0deg 0% 61%);
  --scrollbar-thumb: hsl(0deg 0% 67%);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --animation-duration: 150ms;
  --select-arrow: svg-load("../assets/select-arrow.svg", fill: #161f27);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-body: hsl(230deg 8% 12%);
    --background: hsl(230deg 8% 15%);
    --background-alt: hsl(212deg 15% 10%);
    --selection: hsl(210deg 75% 50% / 70%);
    --text-selection: none;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --text-muted: #a9b1ba;
    --links: hsl(206deg 100% 63%);
    --focus: hsl(200deg 100% 40% / 70%);
    --border: #707b86;
    --code: #ffbe85;
    --button-base: hsl(210deg 20% 8%);
    --button-hover: hsl(210deg 20% 4%);
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: hsl(207deg 58% 34%);
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;
    --animation-duration: 150ms;
    --select-arrow: svg-load("../assets/select-arrow.svg", fill: #efefef);

    color-scheme: dark;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
