h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--text-bright);
}

h1 {
  margin-top: 0;
  font-size: 2.2em;
}

b, strong {
  font-weight: 600;
  color: var(--text-bright);
}

th {
  font-weight: 600;
}

q::before {
  content: none;
}

q::after {
  content: none;
}

blockquote,
q {
  margin: 1.5em 0;
  padding: 0.5em 1em;
  border-left: 4px solid var(--focus);
  font-style: italic;
}

blockquote > footer {
  border: 0;
  font-style: normal;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

a[href^="mailto\:"]::before {
  content: "✉ ";
}

a[href^="tel\:"]::before {
  content: "☎ ";
}

a[href^="sms\:"]::before {
  content: "🗨 ";
}

mark {
  padding: 0 2px;
  border-radius: 2px;
  color: #000;
  background-color: var(--highlight);
}
