/* color mode switcher */

html {
  --cm-color: #232429;
  --cm-bg: #e4e4e7;
  --cm-focus: transparent; /* rgba(92 173 214 / 70%); */
}

html.dark {
  --cm-color: #c9c9cf;
  --cm-bg: #37393f;
  --cm-focus: transparent; /* rgba(0 136 204 / 70%); */
}

.color-switcher {
  position: absolute;
  right: 20px;
  top: 25px;
  line-height: 0.8;
  margin: 0;
  padding: 0;
}

.color-switcher button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 0;
  background: transparent;
  box-shadow: none;
  transition: 250ms;
}

.color-switcher button:hover {
  background: var(--cm-bg);
}

.color-switcher button:focus,
.color-switcher button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--cm-focus);
}

.color-switcher button svg {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  fill: var(--cm-color);
}

@media (width >= 480px) {
  .color-switcher {
    right: calc(50% - 480px / 2 + 20px);
  }
}

@media (width >= 768px) {
  .color-switcher {
    right: calc(50% - 768px / 2 + 20px);
  }
}

@media (width >= 1024px) {
  .color-switcher {
    right: calc(50% - 1024px / 2 + 20px);
  }
}

@media (width >= 1280px) {
  .color-switcher {
    right: calc(50% - 1280px / 2 + 20px);
  }
}

/* hidden class */
.hidden {
  display: none !important;
}
