@charset "UTF-8";

:root {
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: hsl(210deg 75% 50%);
  --text-selection: #f1f1f1;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --button-base: #d0cfcf;
  --button-hover: hsl(0deg 0% 61%);
  --scrollbar-thumb: hsl(0deg 0% 67%);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --animation-duration: 150ms;
  /* stylelint-disable-next-line function-no-unknown */
  --select-arrow: svg-load("../assets/select-arrow.svg", fill: #161f27);
}
